.dotted-border {
    border: 2px dashed grey;
    height: 24rem;
    width: 45rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}

p {
    font-size: large;
}

@media only screen and (max-width: 768px) {
    .dotted-border {
        height: 25rem !important;
        width: 20rem !important;
    }
}