textarea {
    width: 300px;
    height: 150px;
}

th {
    border: 0;
    font-size: 1.2rem;
    vertical-align: middle !important;
    font-weight: 400;
}

img {
    width: 10rem;
}

.save {
    width: 20%;
}