<mat-card class="card">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit(resetPasswordForm.value)">
        <h2 class="primary text-white">Set New Password</h2> <br><br><br>

        <mat-form-field class="w-100" appearance="outline">
            <input matInput [type]="passwordType" placeholder="Password" formControlName="password" matInput>
            <mat-icon matSuffix (click)="hideShowPassword()" class="cursor">{{passwordIcon}}</mat-icon>
            <mat-error>
                Please provide a valid password
            </mat-error>
        </mat-form-field> <br>
        <mat-form-field class="w-100" appearance="outline">
            <input matInput [type]="passwordType1" placeholder="Password" formControlName="password" matInput
                (keyup)="isPwdEql($event)">
            <mat-icon matSuffix (click)="hideShowPassword1()" class="cursor">{{passwordIcon1}}</mat-icon>
            <mat-error *ngIf="equal">
                Password did not match.
            </mat-error>
        </mat-form-field> <br>
        <button mat-flat-button color="primary" [disabled]="!resetPasswordForm.valid">Submit</button>

        <br>
    </form>
</mat-card> <br>