.landing-image {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../../../assets/images/Lathe.png');

    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.mt-5,.mt-md-5{

margin-top:7rem !important;

}
.pt-5{
    padding-top:7rem !important;
}
.para,p{
    color:rgb(102, 102, 102);
}
.content {
    
    text-align: center;
}

.head-cap {
    font-size: 58px;
    
    font-family: 'Lato' !important;
}

.cap {
    font-family: 'Source Sans pro';
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}

img.cap-img {
    width: 14rem;
}

img.img-cast {
    width: 10rem;
}

th {
    font-size: 24px !important;
    font-weight: 400 !important;
}

.sub {
    position: relative;
}


.title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
}


.capabilities{
    background-color: rgb(234, 235, 236);
 
    
}

.material {
    margin-left: 4rem;
}

.imagesize {
    width: 90%;
   
}

.featuredBy{
    width:50%;
}
.table-responsive {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .material {
        margin-left: 0rem;
    }
   
    .cap {
        font-family: 'Source Sans pro';
        font-weight: 400;
        
        font-size:25px;
        text-align: center;
    }
    .head-cap {
        font-size: 40px;
        
        font-family: 'Lato' !important;
        text-align: center;
    }
   
    img {
        width: 50%;
    }
    .material {
        width: 85% !important;
    }
    img.cap-img {
        width: 5rem;
    }
    img.img-cast {
        width: 3rem;
    }
    th {
        font-size: 16px !important;
        font-weight: 400 !important;
    }
}