<div class="mt-4 landing-image">
    <div class="content text-white pt-5">
            <div class="head-cap">On demand Manufacturing of Precision parts</div><br> <br>
    <h2 class="cap">Get high quality custom mechanical parts manufactured at a faster speed</h2>
    <button mat-raised-button class="btn-slider" color="primary" routerLink="/login">Get started</button>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row text-center ">
        <div class="col-12 mt-5 font-style">
            <div>
                <h1 style="color:#151a1d ;" class="font-weight-bold">On Demand Manufacturing Platform</h1>
                <p>Explore how our cloud based on demand manufacturing platform helps you to reduce manufacturing <br> costs, boost your speed of R&D and Prototyping and ensure transparent manufacturing experience </p>
            </div>
            <div class="row flex-wrap-custom  mt-md-5 ">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <img  data-aos="fade-right" data-aos-duration="3000" src="../../../assets/images/protoype.PNG" alt="">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" data-aos="fade-left" data-aos-duration="3000">
                    <br><br>
                    <h1 class="font-weight-bold">Prototype to Batch</h1>
                    <p class="para"> Our platform is perfect for companies looking to prototype new products, manufacture limited series of products or even a thousand units of a product. In our manufacturing eco system, every customer can find the right manufacturer
                        to get the job done.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xs-6 col-sm-6 col-md-6" data-aos="fade-right" data-aos-duration="3000" >
                    <div class="mt-md-5">
                        <h1 class="font-weight-bold">Access to vetted manufacturing capabilities</h1>
                        <p class="para">Our intelligent algorithm understand your requirements and matches the order with our manufacturing partner with appropriate capabilities and expertise you need. All our partners maintain highest quality standards. </p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <img src="../../../assets/images/vetted.PNG"  data-aos="fade-left" data-aos-duration="3000" alt="">
                </div>
            </div>
            <div class="row flex-wrap-custom  mt-md-5">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <img class="imagesize" data-aos="fade-right" data-aos-duration="3000" src="../../../assets/images/short lead times.png" alt="">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" data-aos="fade-left" data-aos-duration="3000" >
                    <div class="mt-md-5">
                        <h1 class="font-weight-bold">Shorter Lead Times</h1>
                        <p class="para">Our platform helps businesses that want their product to get <br>into the market in the shortest possible time. Simply <br> upload your drawings, talk to our experts and get started</p>
                    </div>
                </div>

            </div>
            <div class="row mt-md-5">
                <div class="col-xs-6 col-sm-6 col-md-6"data-aos="fade-right" data-aos-duration="3000" >
                    <div class="mt-md-5">
                        <h1 class="font-weight-bold">Production Transparency</h1>
                        <p class="para">Avoid constant follow ups with the manufacturer and <br> get real time visibility of your order as it passes through the various stages of production process. <br> You can track every stage of the production cycle with <br> live
                            notifications and updates on our platform. </p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 align-self-center">
                    <img class="imagesize" data-aos="fade-left"  data-aos-duration="3000" src="../../../assets/images/production line.png" alt="">
                </div>
            </div>

            <div class="row flex-wrap-custom  mt-md-5">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <img class="imagesize" data-aos="fade-right"  data-aos-duration="3000" src="../../../assets/images/quick delivery.png" alt="">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6" data-aos="fade-left" data-aos-duration="3000" >
                    <div class="mt-md-5 mt-sm-5">
                        <h1 class="font-weight-bold">Quick and Safe Delivery</h1>
                        <p class="para">We have partnered with the best shippers in the industry to <br> deliver your orders on time. We make sure that <br> the products are not damaged during <br> transit and there is no loss along the way!. </p>

                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
            <div class="container-fluid capabilities text-center mt-5 pt-5">
                
                <h1 style="color:#1e4258 ;" class="font-weight-bold">Our Current Capabilities</h1>
       
                <div class="mt-md-4">
                    <table class="table table-responsive table-borderless">
                        <tbody>
                            <tr>
                                <td><img class="cap-img" src="../../../assets/images/cnc.png" alt=""></td>
                                <td><br> <img class="cap-img" src="../../../assets/images/3D printing.png" alt=""> </td>
                                <td><br> <img class="img-cast" src="../../../assets/images/metal.png" alt=""> </td>
                            </tr>
                            <tr>
                                <th>CNC Machining</th>
                                <th>3D Printing</th>
                                <th>Sheet Metal Fabrication</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center mt-md-5">
                <span>
                    <h1  class="font-weight-bold">Materials</h1>
                </span> <br>
                <span>
                <img class="material" src="../../../assets/images/materials.PNG" alt="">
            </span>
            </div>
            <br><br>
            <span class="mt-md-5 mt-sm-3 d-flex justify-content-center">
                <h1 style="color:#1e4258 ;" class="font-weight-bold">Recognised and Supported By</h1>
            </span>
            <br>
            <div class="container text-center mb-5 pb-5">
                <div class="d-flex justify-content-around mt-5">
                    <div><img class="featuredBy" src="../../../assets/images/startupindia.png" alt=""></div>
                    <div><img class="featuredBy" src="../../../assets/images/ktech.png" alt=""></div>
                    <div><img class="featuredBy" src="../../../assets/images/startupkar.png" alt=""></div>
                    <div><img class="featuredBy" src="../../../assets/images/Nasscom-logo.png" alt=""></div>
                </div>
            </div>
           

        
        <app-get-started class="w-100 text-center mt-5"></app-get-started>
    

<app-footer class="mt-5 w-100" id="getStarted"></app-footer>