<mat-card class="card">
    <form [formGroup]="otpInput" (ngSubmit)="submitOtp(otpInput.value)">
        <h2 class="primary text-white">Verify OTP</h2> <br><br><br>
        <span class="enter-otp ">OTP has been sent to Email ID. Please enter OTP.</span> <br><br>
        <div class="d-flex justify-content-center">
            <mat-form-field class="otp text-center">
                <input matInput id="codeBox1" class="codebox" type="text" maxlength="1" formControlName="otp1" (keyup)="onKeyUpEvent(1, $event)" autocomplete="off">
            </mat-form-field> &nbsp;&nbsp;
            <mat-form-field class="otp text-center">
                <input matInput id="codeBox2" class="codebox" type="text" maxlength="1" formControlName="otp2" (keyup)="onKeyUpEvent(2, $event)" autocomplete="off">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field class="otp text-center">
                <input matInput id="codeBox3" class="codebox" type="text" maxlength="1" formControlName="otp3" (keyup)="onKeyUpEvent(3, $event)" autocomplete="off">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field class="otp text-center">
                <input matInput id="codeBox4" class="codebox" type="text" maxlength="1" formControlName="otp4" (keyup)="onKeyUpEvent(4, $event)" autocomplete="off">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field class="otp text-center">
                <input matInput id="codeBox5" class="codebox" type="text" maxlength="1" formControlName="otp5" (keyup)="onKeyUpEvent(5, $event)" autocomplete="off">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field class="otp text-center">
                <input matInput id="codeBox6" class="codebox" type="text" maxlength="1" formControlName="otp6" (keyup)="onKeyUpEvent(6, $event)" autocomplete="off">
            </mat-form-field>
        </div><br>
        <div>
            <span class="float-right enter-otp pointer" (click)="resendOtp()">Resend OTP</span>
        </div> <br><br>
        <button mat-flat-button color="primary" [disabled]="!otpInput.valid">Submit</button>
        <!-- <span *ngIf="verifyOtp" (click)=openOTP(this.loginForm.value)>
        <p  class="line cursor"  id="blink">Verify</p>
    </span> -->
        <br>
    </form>
</mat-card> <br>