<br>
<div class="image">
    <span class="content text-dark text-center">
        <h1 class="head">Become a member of our vetted <br>manufacturing network.</h1>
        <button mat-raised-button class="text-white pointer btn-slider"  color="primary" routerLink="/apply-for-partner">
            Apply Now
        </button>
    </span>
</div>

<div class="container-fluid mt-3">
    <div class="text-center">
        <div class="d-md-flex justify-content-md-center">
            <span>
            <h1 style="color:#1e4258 ;" class=" head font-weight-bold">Benefits</h1>
        </span>
        </div><br>
        <div class=" d-md-flex justify-content-md-center">
            <div class="p-md-1 text-center">
                <mat-card class="card">
                    <mat-card-title><img class="img-icon" src="../../../../assets/images/clock.png" alt=""></mat-card-title>

                    <h2 class="font-weigth-bold text-dark font-lato"> Reduce idle machine time </h2>
                    <mat-card-content>
                        <span class="font-style">
                        Idle machine means loss of revenues. You can reduce such losses by partnering with us to get confirmed orders every month and monitize your Idle machine time.
                    </span>
                    </mat-card-content>
                </mat-card>
            </div><br>
            <div class="p-md-1 text-center">
                <mat-card class="card">
                    <mat-card-title><img class="img-icon" src="../../../../assets/images/revenue.png" alt=""></mat-card-title>

                    <h2 class="font-weigth-bold text-dark font-lato">Generate more business</h2>
                    <mat-card-content>
                        <span class="font-style">
                        With more and more customers placing orders on our platform, you can now generate more revenues
                        by joining our huge partner network.
                    </span>
                    </mat-card-content>
                </mat-card>
            </div> <br>
            <div class="p-md-1 text-center">
                <mat-card class="card">
                    <mat-card-title><img class="img-icon" src="../../../../assets/images/victim.png" alt=""></mat-card-title>
                    <h2 class="font-weigth-bold font-lato">More focus on Manufacturing </h2>
                    <mat-card-content>
                        <span class="font-style">
                        By partnering with us, you can focus more on your core stength i.e. manufacturing and we will
                        take care of all other activities like feedback, support, payment etc.
                    </span>
                    </mat-card-content>
                </mat-card>
            </div>
        </div> <br><br>
        <div class=" d-flex justify-content-center">
            <span>
            <h1 style="color:#1e4258 ;" class=" head font-weight-bold">Looking Partners For</h1>
        </span>
        </div><br><br>

        <div class="d-md-flex flex-md-wrap justify-content-md-around text-center">

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><img class="cap-img" src="../../../assets/images/cnc.png" alt=""></td>
                        <td><br> <img class="cap-img" src="../../../assets/images/3D printing.png" alt=""> </td>
                        <td><br> <img class="img-cast" src="../../../assets/images/metal.png" alt=""> </td>
                        <!-- <td><img class="img-cast" src="../../../assets/images/casting.png" alt=""></td> -->
                    </tr>
                    <tr>
                        <th>CNC Machining</th>
                        <th>3D Printing</th>
                        <th>Sheet Metal Fabrication</th>
                        <!-- <th>Vaccum Casting</th> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br><br>
        <div>
            <span>
            <h1 style="color:#1e4258 ;" class="head font-weight-bold">Onboarding Process</h1>
        </span> <br>
            <img src="../../../../assets/images/onBoarding.PNG" alt="">
        </div><br><br>

        <!-- <div class=" d-md-flex justify-content-md-center">
            <span>
            <h1 style="color:#1e4258 ;" class="head font-weight-bold">Process</h1>
        </span>
        </div><br><br>
        <div class="d-md-flex justify-content-md-center ml-5">
            <div class="col-md-3 border">
                <h1 class="font-weigth-bold text-dark num pt-4"> 1 </h1><br><br>
                <p>
                    Fill up your company details along with your machining capabilities, materials and your location
                </p>

            </div><br>
            <div class="col-md-3 border">
                <h1 class="font-weigth-bold text-dark num  pt-4"> 2</h1><br><br>
                <p>
                    Our team will review the details shared by you. All the information is completely confidentail and not shared with any third party
                </p>

            </div> <br>
            <div class="col-md-3 border">
                <h1 class="font-weigth-bold text-dark num pt-4 ">3 </h1><br><br>
                <p>
                    Team team will visit the faciity for inspection and interviews
                </p>
            </div>
            <div class="col-md-3 border">
                <h1 class="font-weigth-bold text-dark num pt-4">4 </h1> <br><br>
                <p>
                    Few agreements will be signed and the partner will be onboarded. </p>
            </div>
        </div> -->
        <button mat-raised-button color="primary" class="text-white pointer btn-slider" routerLink="/apply-for-partner">Apply
        Now</button>

    </div>
    <div class="row text-center">
        <!-- <app-get-started class="w-100 text-center mt-5"></app-get-started> -->
        <app-footer class="w-100 text-center mt-5" id="getStarted"></app-footer>
    </div>
</div>