<div class="container">

 <div class="text-center mt-5 pt-5">
        <div>
             <h1 class="font-weight-bold about-title">Design | Manufacture | Accelerate</h1>
             <p class="font-style about-content">Turmidrill was founded with the aim to build world’s largest smart network of manufacturing shops so that our customers can have access to worldclass production facilities who are looking to prototype new products, manufacture limited series of products
                or even a thousand units of a product.
            </p> 
        </div>
       <div class="text-center">
        <img class="aboutheroimg"src="../../../assets/images/dma.png" alt="">
       </div>
    </div>
</div>
    
    
 
   
  
   <div class=" container font-style mt-5">
    
      
   

    <div class="row d-flex ">
        <div class="col-md-6 col-sm-6 col-xs-6 partner-network">
            <div class="mt-md-3">
                <h1 style="color:#1e4258 ;" class="head font-weight-bold ">Our Partner Network</h1><br>
                <span class="para">We have a wide network of partners spread across various cities. All our partners meet the highest quality standards and are onboarded after a rigorous vetting process.
                </span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <img src="../../../assets/images/map.PNG" alt="">
        </div>
    </div>
    </div>
    <div class="container-fluid p-5 mt-5 text-center features">
        <div class="d-flex justify-content-around ">
         <span><h1 style="color:#1e4258; font-weight:bold">25 +</h1>
            <h3 style="font-size:1.2rem">Manufacturing Partners</h3></span>
            <span><h1 style="color:#1e4258; font-weight:bold">80 +</h1>
                <h3 style="font-size:1.2rem">Customers Served</h3></span>
                <span><h1 style="color:#1e4258; font-weight:bold">1000 +</h1>
                    <h3 style="font-size:1.2rem">Minutes Saved</h3></span>
        </div>
    </div>
   
       
    <div class=" container font-style mt-5">
    <div class="row d-flex mt-5">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <img class="teamimg" src="../../../assets/images/team-1.png" alt="">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 our-team">
            <div class="mt-md-2">
                <h1 style="color:#1e4258 ;" class="head font-weight-bold">Our Team</h1>
                <span class="para">We are a team of highly qualified engineers and management personnel. Our management team brings with them vast experience in various profiles from diverse industries. Stints in various MNCs and a strong social consciousness have aided our team in building the brand and company that we are today.         
                </span>
            </div>

            <button class="mt-md-3" mat-raised-button routerLink="/contact-us" color="primary">Join our team</button>
        </div>

    </div>
</div>
    <span class="mt-md-5 d-flex justify-content-center">
        <h1 style="color:#1e4258 ;" class="font-weight-bold">Recognised and Supported By</h1>
    </span>
    <br>
    <div class="container text-center pb-5">
        <div class="d-flex justify-content-around mt-5">
            <div><img class="featuredBy" src="../../../assets/images/startupindia.png" alt=""></div>
            <div><img class="featuredBy" src="../../../assets/images/ktech.png" alt=""></div>
            <div><img class="featuredBy" src="../../../assets/images/startupkar.png" alt=""></div>
            <div><img class="featuredBy" src="../../../assets/images/Nasscom-logo.png" alt=""></div>
        </div>
    </div>
       
    

<br><br>
<app-footer class="w-100  mt-5" id="getStarted"></app-footer>
